@charset "UTF-8";

/* Estilo para imrpessoras */

* {
    margin: 10px;
    padding: 10px;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: "Artigo criado para estudos de Media Queries";
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px;
}